body{
    background-color: navajowhite;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

html{
    margin: 0; 
    padding: 0; 
    height: 100%; 
    scroll-behavior: smooth; /* Para desplazamiento suave */
   
}
.navbar{
    position: fixed;

    width: 100%;
}
  
.presentacion{
    padding-top: 5%;
    padding-left: 30%;
    
}
h1{
    color: navy;
}
section{
    
    justify-content: center;
}
h2{
    color: navy;
    
    
}
.perfil{
    border: 1px solid #575757;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 200px;
    background-color: aliceblue;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.perfil:hover { transform: translateY(-10px); /* Efecto de elevación */
     box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}
/* Media Queries */ 
@media (max-width: 768px) { 
    /* Tamaños de pantalla para tablets */ 
    .perfil-contenedor { 
        flex-direction: column; /* Cambia la dirección a columna */ 
        
        align-items: center; /* Centra los elementos */ 
    } 
    .card{
        width: 90%; /* Ajusta el tamaño de la tarjeta en móviles */
        margin: 10px auto; /* Centra la tarjeta */

    }
}
 @media (max-width: 576px) { 
    /* Tamaños de pantalla para móviles */ 
    .perfil-contenedor { flex-direction: column; /* Cambia la dirección a columna */ 
        align-items: center; /* Centra los elementos */ 
    } 
    .contacto{
        width: 90%; /* Ajusta el tamaño de la tarjeta en móviles */ 
        margin: 10px auto; /* Centra la tarjeta */
        
        
        }
    }

.perfil img{
    border-radius: 15px;
    padding-top: 4%;
    width: 90%;
    height: 100%;
   
}
.perfil-contenedor {
     display: flex;
     margin-top: 2%;
     flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      align-items: center;
    }
.card{
    margin-top: 4%;
    margin-left: 36%;
    padding: opx;
    width: 400px;
    justify-content: center;
    background-color: rgb(248, 195, 114);
    
    
    
}

footer{

    padding-top: 30%;
    text-align: center;
}